NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace-with-nextauth-secret
NEXTAUTH_COOKIE_PREFIX=ebms
# NEXTAUTH_COOKIE_DOMAIN=.your-domain.example
WORKER_GRAPHQL_URL=http://localhost:8787/graphql
# WORKER_AUTH_URL=http://localhost:8787/auth/login
# WORKER_PREVIEW_URL=http://localhost:8787/auth/preview
NEXT_PUBLIC_ADMIN_APP_URL=http://localhost:3001
NEXT_PUBLIC_EMPLOYEE_APP_URL=http://localhost:3000
